 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
			<div class="row">
			
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
					<img class="img-responsive" src="img/profile.png" alt="">
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a first year graduate student at the University of Washington, majoring in Information Management. 
					My intended specialisation is Data Science. It's fascinating how data can be used right from solving minute problems 
					to making critical decisions for a multinational giant. </p>
					
                </div>
                <div class="col-lg-4">
                    <p>The part that piques my curiosity is machine learning algorithms to build recommendation systems. I would love to 
					learn more about them.I have 3 years of experience in DevOps, Software Quality Assurance,Web Development and Data Analysis. 
					I love to convert complex ideas into small steps and implementing them with ease.
					</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a class="btn btn-lg btn-outline" href="/documents/Resume_Avanti_Chande_DS.pdf" download>
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>